.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.icon-margin-rt-info {
    margin-right: 15px;
}

.icon-margin-rt-user {
    margin-right: 10px;
}

.noresize {
    resize: none; 
  }